/* Color palette 

dark blue = #0d3b66
white = #f0edee
light blue = #087ca7
orange = #ee964b
light grey = #d3d0cb

*/


p, h1, h2, li {font-family: 'Roboto Slab', sans-serif;
   font-size: 1em;
}

h1, h2 {font-family: 'Roboto Slab', sans-serif;
   font-size: 2em;
   color: honeydew;
}



body {
    background: sienna;
}
